html{margin: 0; padding: 0;}
body{background-color: #f3f3f3; margin: 0; padding: 0; font-family: Arial}

.titlebar{
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	color: #51B6E8;
	margin: 0;
	display: block;
	border-bottom: 1px solid #51B6E8;
}

.titlebar h1{ line-height: 50px; margin: 0 25px 0 25px;}

#users{width: 980px; min-height: 70px; margin: auto;}
#users h3{color: #51B6E8; margin-bottom: 0}
#users img{width: 25px; margin: 10px; float: left}

.message{
	margin: auto;
	margin-top: 10px;
	width: 980px;
	height: 70px;
	background-color: #ffffff;
	-moz-box-shadow: 0px 1px 5px 0px #656565;
	-webkit-box-shadow: 0px 1px 5px 0px #656565;
	-o-box-shadow: 0px 1px 5px 0px #656565;
	box-shadow: 0px 1px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}

.message img{
	width: 50px;
	height: 50px;
	position: relative;
	left: 10px;
	top: 10px;
	display: block;
	float:left;
}

.info{
	position: relative;
	height: 50px;
	width: 900px;
	top: 10px;
	left: 70px;
	font-size: 12px;
	vertical-align: middle;
	text-align: left;
	padding: 0;
	line-height: 25px; 
}

#login{
	position: absolute;
	z-index: 100;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(00,00,00,0.7);
}

#loginform{text-align: center; vertical-align: middle; color: #ffffff;}
#loginerror{color: #DE506F; font-weight: bold;}

#form{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-color: #51B6E8;
	display: block;
}

.text{
	width: 90%; height: 80px; margin: auto; margin-top: 5px;
}

.submit{
	width: 8%; height: 80px; margin: auto; margin-top: 5px; 
}